attrs==21.4.0
black==22.1.0
cffi==1.15.0
click==8.0.3
cryptography==36.0.1
diffiehellman==0.13.3
flake8==4.0.1
Flask==2.0.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pyflakes==2.4.0
pyparsing==3.0.7
pytest==6.2.5
pytest-dotenv==0.5.2
pytest-timeout==2.1.0
python-dotenv==0.19.2
toml==0.10.2
tomli==2.0.0
Werkzeug==2.0.2
