bcrypt==4.3.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
diffiehellman==0.13.3
dotenv==0.9.9
Flask==3.1.0
Flask-Login==0.6.3
flask-marshmallow==1.3.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet==3.1.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-sqlalchemy==1.4.1
packaging==24.2
pluggy==1.5.0
pycryptodome==3.21.0
pytest==8.3.4
pytest-timeout==2.3.1
python-dotenv==1.1.0
SQLAlchemy==2.0.40
typing_extensions==4.13.1
Werkzeug==3.1.3
WTForms==3.2.1
